body{
	padding: 1rem;
}

#content {
	min-height: 100%;
}

#header{
	padding: 1rem;
	background-color: #892ca0;
	color: white;
}

#header a {
	text-decoration: none;
	color: white;
}

#header h2{
	font-size: 110%;
}

#navigation {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#footer {
	margin-top: 2rem;
	padding: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 70%;
	background-color: #892ca0;
	color: white;
	text-align: right;
}
#footer a {
	text-decoration: none;
	color: white;
}

#index_action_buttons {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.btn, .btn-lg, .btn-sm {
	border-radius: 0;
}
.dokument {
	font-size: 130%;
}
.dokument a {
	color: white;
}

form {
	margin-bottom: 2rem;
}

.form-inline{
	margin-bottom: 0rem;
}

.briefform input[type=text],
.briefform textarea {
	width: 100%;
}

.briefform #id_anschrift{
	height: 5rem;
}

.statusselektor{
	font-size: 120%;
	margin: 0.2rem;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}