{% extends 'frontend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Antrag{% endblock %}

{% block content %}

<h2>Antrag auf Rückerstattung</h2>

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}

<table class="table">
<tr><th>Antragsteller/in</th><td>{{antrag.user.user.first_name}} {{antrag.user.user.last_name}} ({{antrag.user.user.username}})</td></tr>
<tr><th>Semester</th><td>{{antrag.semester}}</td></tr>
<tr><th>Antragszeitpunkt</th><td>{{antrag.antragszeitpunkt}}</td></tr>
<tr><th>Antragsgrund</th><td>{{antrag.grund.name}}</td></tr>
<tr><th>weitere Hinweise</th><td><i>{{antrag.freitext}}</i></td></tr>
<tr><th>Letzte Aktivität</th><td>{{antrag.letzte_bearbeitung}}</td></tr>
<tr><th>Antragsstatus</th><td><span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span></td></tr>
{% if antrag.ueberweisungsbetrag > 0 %}
<tr><th>Überweisungsbetrag</th><td>{{antrag.ueberweisungsbetrag}} €</td></tr>
{% endif %}
</table>

<h3>Benötigte Nachweise</h3>
<ul>
{% for nachweis in nachweise.values %}
	<li>
	{{nachweis.name}}
	<ul>
	{% for dokument in nachweis.dokumente %}
		<li><span class="tag tag-default dokument"><a href="{% url 'datei' dokument_id=dokument.id %}" target="_blank">Dokument #{{dokument.id}}</a></span> <a href="{% url 'datei' dokument_id=dokument.id %}" target="_blank">anzeigen</a> <small>(hochgeladen am {{dokument.timestamp}})</small></li>
	{% endfor %}
	</ul>
	</li>
{% endfor %}
</ul>

{% if antrag.status.hochladen_erlaubt %}
<hr>

<h3>Nachweis hochladen</h3>

<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
<table class="table">
{{form}}
</table>
<input type="submit" value="Nachweis hochladen" class="btn btn-primary"/>
</form>

{% if form_uebertragen %}
<h3>Nachweis von altem Antrag übernehmen</h3>

<form method="POST">
{% csrf_token %}
<table class="table">
{{form_uebertragen}}
</table>
<input type="submit" value="Nachweis übernehmen" class="btn btn-primary"/>
</form>
{% endif %}
{% endif %}


{% if antrag.status.zurueckziehen_erlaubt %}

<hr>
<h3>Antrag zurückziehen</h3>
<p>Wenn du deinen Antrag zurückziehst, wird er nicht weiter bearbeitet. Du kannst auch keinen neuen Antrag über das System stellen.</p>

<a href="{% url 'antragzurueckziehen' antrag_id=antrag.id %}">Antrag zurückziehen</a>

{% endif %}


{% endblock %}