{% extends 'frontend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Antrag{% endblock %}

{% block content %}

<h2>Antrag auf Rückerstattung</h2>

{% if gmessage %}
{% if gmessage == 'antrag_erstellt' %}
<div class="alert alert-info" role="alert">
  <strong>Glückwunsch!</strong> Dein Antrag auf Semesterticketrückerstattung wurde erstellt. Lade nun die benötigten Nachweise hoch!<br>Das Formular hierzu findest du auf dieser Seite etwas weiter unten.
</div>
{% endif %}
{% endif %}

<table class="table">
<tr><th>Antragsteller/in</th><td>{{antrag.user.user.first_name}} {{antrag.user.user.last_name}} ({{antrag.user.user.username}})</td></tr>
<tr><th>Semester</th><td>{{antrag.semester}}</td></tr>
<tr><th>Antragszeitpunkt</th><td>{{antrag.antragszeitpunkt}}</td></tr>
<tr><th>Antragsgrund</th><td>{{antrag.grund.name}}</td></tr>
<tr><th>Letzte Aktivität</th><td>{{antrag.letzte_bearbeitung}}</td></tr>
<tr><th>Antragsstatus</th><td><span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span></td></tr>
{% if antrag.ueberweisungsbetrag > 0 %}
<tr><th>Überweisungsbetrag</th><td><span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span></td></tr>
{% endif %}
</table>

<h3>Benötigte Nachweise</h3>
<ul>
{% for nachweis in nachweise.values %}
	<li>
	{{nachweis.name}}
	<ul>
	{% for dokument_id in nachweis.dokumente %}
		<li><span class="tag tag-default dokument"><a href="{% url 'datei' dokument_id=dokument_id %}" target="_blank">Dokument</a></span></li>
	{% endfor %}
	</ul>
	</li>
{% endfor %}
</ul>

{% if antrag.status.hochladen_erlaubt %}
<hr>

<h3>Nachweis hochladen</h3>

{% if message %}
{% if message == 'nachweis_ungueltig' %}
<div class="alert alert-danger" role="alert">
  <strong>Herrje!</strong> Das hat nicht funktioniert. Bitte nutze die vorgegebenen Nachweise.
</div>
{% elif message == 'form_invalid' %}
<div class="alert alert-warning" role="alert">
  <strong>Hoppla!</strong> Bitte fülle das Formular komplett aus.
</div>
{% elif message == 'falscher_content_type' or message == 'falsches_dateiformat' %}
<div class="alert alert-warning" role="alert">
  <strong>Hoppla!</strong> Bitte lade nur PDF-, PNG- oder JPG-Dateien hoch.
</div>
{% else %}
<div class="alert alert-success" role="alert">
  <strong>Das Dokument wurde erfolgreich hochgeladen.</strong> Er sollte jetzt hinter seinem Nachweis aufgeführt sein.
</div>
{% endif %}
{% endif %}

<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
<table class="table">
{{form}}
</table>
<input type="submit" value="Nachweis hochladen" class="btn btn-primary"/>
</form>
{% endif %}

<hr>

<h3>Antrag zurückziehen</h3>
<p>Wenn du deinen Antrag zurückziehst, wird er nicht weiter bearbeitet. Du kannst auch keinen neuen Antrag über das System stellen.</p>

<a href="{% url 'antragzurueckziehen' antrag_id=antrag.id %}">Antrag zurückziehen</a>



{% endblock %}