{% extends 'base.html' %}

{% block title%}Semesterticket-Rückerstattung - Impressum{% endblock %}

{% block content %}

<p id="impressum">
<b>Impressum</b><br>
Ausschuss für das Semesterticket<br>
des Studierendenparlamentes der<br>
Rheinischen Friedrich-Wilhelms-Universität Bonn<br>
c/o AStA Bonn<br>
Nassestraße 11<br>
53113 Bonn (Deutschland)<br>
stre@asta.uni-bonn.de<br>
<br>
Vorsitzender: Daniel Dejcman, Stellvertretender Vorsitzender: Carl von der Schulenburg<br>
Weitere ordentliche Mitglieder: Andrea Dorenkamp und Susanne Heinrichs<br>
Stellvertretende Mitglieder: Paula Zeiler, Robert Küppers, Benjamin Kolb und Luca Cristodero<br>
</p>

{% endblock %}