{% extends 'frontend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Antragstellung{% endblock %}

{% block content %}

<h2>Antrag auf Rückerstattung stellen</h2>

<h3>Schritt 1: Persönliche Angaben</h3>

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}


<form method="POST">
{% csrf_token %}
<p>Mit * markierte Felder sind Pflichtangaben</p>
<table class="table">
{{form}}
</table>
<input type="submit" value="Bestätigen und weiter zu Schritt 2" class="btn btn-primary"/>
</form>

{% endblock %}