{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block title%}Semesterticket-Rückerstattung - Passwort zurücksetzen{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}

<div class="dangerdanger">
<p class="text-center"><img src="{% static 'frontend/obacht.png' %}" /></p>
</div>
<p>


<p>Bist du sicher, dass du den Antrag <a href="{% url 'frontend:antrag' antrag_id=antrag.id %}">{{antrag.grund.identifier}} {{antrag.id}} für das {{antrag.semester}}</a> zurückziehen möchtest?</p>

<p><strong>Dies kann nicht rückgängig gemacht werden.</strong></p>

<form method="POST">
{% csrf_token %}
<div>
<input type="checkbox" id="{{form.will_zurueckziehen.id_for_label}}" name="{{form.will_zurueckziehen.html_name}}" />
<label for="{{form.will_zurueckziehen.id_for_label}}">{{form.will_zurueckziehen.label}}</label>
</div>

<a class="btn btn-secondary" href="{% url 'frontend:antrag' antrag_id=antrag.id %}">Abbrechen</a> <input type="submit" class="btn btn-danger" value="Antrag zurückziehen" />
</form>
</p>
<div class="dangerdanger">
<div class="text-center"><img src="{% static 'frontend/obacht.png' %}" /></div>

</div>

{% endblock %}