{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Antrag{% endblock %}

{% block content %}

<h2>Antrag auf Rückerstattung</h2>

{% if gmessage %}
{{gmessage}}
{% endif %}

<table class="table">
<tr><th>Antragsteller/in</th><td>{{antrag.user.user.first_name}} {{antrag.user.user.last_name}} ({{antrag.user.user.username}})</td></tr>
<tr><th>Semester</th><td>{{antrag.semester}}</td></tr>
<tr><th>Antragszeitpunkt</th><td>{{antrag.antragszeitpunkt}}</td></tr>
<tr><th>Antragsgrund</th><td>{{antrag.grund.name}}</td></tr>
<tr><th>Letzte Aktivität</th><td>{{antrag.letzte_bearbeitung}}</td></tr>
<tr><th>Antragsstatus</th><td><span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span></td></tr>
</table>

<h3>Benötigte Nachweise</h3>
<ul>
{% for nachweis in nachweise.values %}
	<li>
	{{nachweis.name}}
	<ul>
	{% for dokument_id in nachweis.dokumente %}
		<li><span class="tag tag-default dokument"><a href="{% url 'datei' dokument_id=dokument_id %}" target="_blank">Dokument</a></span></li>
	{% endfor %}
	</ul>
	</li>
{% endfor %}
</ul>

<hr>

aktionen
<ul>
{% for aktion in aktionen %}
<li><a href="{% url 'antragaktion' antrag_id=antrag.id aktion_id=aktion.id %}">{{aktion}}</a></li>
{% endfor %}
</ul>
<h3>Nachweis hochladen</h3>

{% if message %}
{% if message == 'nachweis_ungueltig' %}
<div class="alert alert-danger" role="alert">
  <strong>Herrje!</strong> Das hat nicht funktioniert. Bitte nutze die vorgegebenen Nachweise.
</div>
{% elif message == 'form_invalid' %}
<div class="alert alert-warning" role="alert">
  <strong>Hoppla!</strong> Bitte fülle das Formular komplett aus.
</div>
{% elif message == 'falscher_content_type' or message == 'falsches_dateiformat' %}
<div class="alert alert-warning" role="alert">
  <strong>Hoppla!</strong> Bitte lade nur PDF-, PNG- oder JPG-Dateien hoch.
</div>
{% else %}
<div class="alert alert-success" role="alert">
  <strong>Das Dokument wurde erfolgreich hochgeladen.</strong> Er sollte jetzt hinter seinem Nachweis aufgeführt sein.
</div>
{% endif %}
{% endif %}

<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
<table class="table">
{{form}}
</table>
<input type="submit" value="Nachweis hochladen" class="btn btn-primary"/>
</form>



{% endblock %}