{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Dashboard{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}


<div class="card">
	<div class="card-block">
		<h4 class="card-title">Anträge im {{semester.get_semestertyp_display}} {{semester.jahr}}</h4>
		<p class="card-text">Die Liste der im {{semester.get_semestertyp_display}} {{semester.jahr}} gestellten Anträge.</p>
	</div>
	
	<div class="card-block">
	Nach Status filtern: 
	<a href="{% url 'antraege' semester_id=semester.id %}"><span class="statusselektor tag {% if status_id %}tag-default{% else %}tag-primary{% endif %}">Alle</span></a><br>
	{% for status in statusse %}
	<a href="{% url 'antraege' semester_id=semester.id status_id=status.id %}"><span class="statusselektor tag {% if status_id and status_id == status.id %}tag-primary{% else %}tag-default{% endif %}">{{status}}</span></a> 
	{% endfor %}
	</div>
	
	{% for grund, antraege in antraege_sortiert.items %}
	<div class="card-block">
		
	<h5>{{grund}}</h5>
	
	{% if antraege %}
	
	<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Antragsteller/in</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for antrag in antraege %}
		<tr>
			<td>{{antrag.grund.identifier}} {{antrag.id}}</td>
			<td>{{antrag.user.user.first_name}} {{antrag.user.user.last_name}}</td>
			<td><span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span></td>
			<td><a href="{% url 'antragbackend' antrag.id %}">Öffnen</a></td>
			
		</tr>
	{% endfor %}
	</tbody>
	</table>
	
	{% else %}
	{% if status_id %}
	<p>Für diesen Grund existiert kein Antrag mit dem ausgewählten Status.</p>
	{% else %}
	<p>Für diesen Grund wurden in diesem Semester {%if semester.antrag_moeglich %}(noch) {% endif %}keine Anträge gestellt.</p>
	{% endif %}
	{% endif %}
	
	</div>
	{% endfor %}
</div>

{% endblock %}