{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Antrag{% endblock %}

{% block content %}

<h2>Antrag auf Rückerstattung – {{antrag.grund.identifier}} {{antrag.id}}</h2>
<p>Antragsstatus: <span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span> | <a href="{% url 'history' antrag_id=antrag.id %}">Bearbeitungsverlauf anzeigen</a></p>

<hr>

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}

<h3>Aktionen</h3>
{% if aktionen %}
<div class="form-inline">
{% for aktion in aktionen %}
<a class="btn btn-primary" href="{% url 'antragaktion' antrag_id=antrag.id aktion_id=aktion.id %}">{{aktion.name}}</a>
{% endfor %}
</div>
{% else %}
<p>In diesem Antragsstatus sind keine Aktionen verfügbar.</p>
{% endif %}

<hr>

<h3>Briefe</h3>

{% if briefe %}
<table class="table">
<tr><th>Vorlage</th><th>Erstellungszeitpunkt</th></tr>
{% for brief in briefe %}
<tr><td><a href="{% url 'brief' brief_id=brief.id %}">{{brief.vorlage.name}}</a></td><td>{{brief.timestamp}}</td></tr>
{% endfor %}
</table>
{% else %}
<p>Keine Briefe vorhanden.</p>
{% endif %}

<hr>

<h3>Antragsdaten</h3>

<table class="table">
<tr><th>Antragsteller/in</th><td>{{antrag.user.user.first_name}} {{antrag.user.user.last_name}} ({{antrag.user.user.username}})</td></tr>
<tr><th>Semester</th><td>{{antrag.semester}}</td></tr>
<tr><th>Antragszeitpunkt</th><td>{{antrag.antragszeitpunkt}}</td></tr>
<tr><th>Antragsgrund</th><td>{{antrag.grund.name}}</td></tr>
<tr><th>weitere Hinweise</th><td><i>{{antrag.freitext}}</i></td></tr>
<tr><th>Letzte Aktivität</th><td>{{antrag.letzte_bearbeitung}}</td></tr>
<tr><th>Antragsstatus</th><td><span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span></td></tr>
{% if antrag.nachfrist1 %}
<tr><th>Nachfrist 1</th><td>{{antrag.nachfrist1}}</td></tr>
{% endif %}
{% if antrag.nachfrist2 %}
<tr><th>Nachfrist 2</th><td>{{antrag.nachfrist2}}</td></tr>
{% endif %}
{% if antrag.ueberweisungsbetrag > 0 %}
<tr><th>Überweisungsbetrag</th><td>{{antrag.ueberweisungsbetrag}} €</td></tr>
{% endif %}
</table>

<hr>

<h3>Nachweise</h3>
<ul>
{% for nachweis in nachweise.values %}
	<li>
	{{nachweis.name}}
	<ul>
	{% for dokument in nachweis.dokumente %}
		<li><span class="tag tag-default dokument"><a href="{% url 'datei' dokument_id=dokument.id %}" target="_blank">Dokument #{{dokument.id}}</a></span> <a href="{% url 'datei' dokument_id=dokument.id %}" target="_blank">anzeigen</a> <small>(hochgeladen am {{dokument.timestamp}})</small></li>
	{% endfor %}
	</ul>
	</li>
{% endfor %}
</ul>

{% if form %}
<hr>

<h3>Nachweis hochladen</h3>

<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
<table class="table">
{{form}}
</table>
<input type="submit" value="Nachweis hochladen" class="btn btn-primary"/>
</form>

{% endif %}

{% endblock %}