{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Dashboard{% endblock %}

{% block content %}



<div class="card">
	<div class="card-block">
		<h4 class="card-title">Anträge im {{semester.get_semestertyp_display}} {{semester.jahr}}</h4>
		<p class="card-text">Die Liste der im {{semester.get_semestertyp_display}} {{semester.jahr}} gestellten Anträge.</p>
	</div>
	<div class="card-block">
	
	{% if semester.antrag_set.count > 0 %}
	<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Antragsteller/in</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for antrag in semester.antrag_set.all %}
		<tr>
			<td>{{antrag.grund.identifier}} {{antrag.id}}</td>
			<td>{{antrag.user.user.first_name}} {{antrag.user.user.last_name}}</td>
			<td><span class="{{antrag.status.klassen}}">{{antrag.status.name}}</span></td>
			<td><a href="{% url 'antragbackend' antrag.id %}">Anzeigen</a></td>
			
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% else %}
	<div class="alert alert-info" role="alert">
	<strong>Hier gibt es nichts zu sehen!</strong> Für dieses Semester wurden (noch) keine Anträge gestellt.
	</div>
	{% endif %}
	</div>
</div>

{% endblock %}