<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% block title %}{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'frontend/bootstrap.min.css'%}" />
<link rel="stylesheet" href="{% static 'backend/style.css' %}" />
<link rel="icon" href="{% static 'backend/favicon.ico' %}" type="image/vnd.microsoft.icon">
</head>
<body>
<div class="container" id="content">

<div id="header">
<a href="{% url 'backend:dashboard'%}"><h1>Semesterticket-Rückerstattung <small>Backend</small></h1></a>
<h2>Ausschuss für das Semesterticket des Studierendenparlaments der Rheinischen Friedrich-Wilhelms-Universität Boon</h2>
</div>
<nav class="navbar navbar-inverse bg-inverse  navbar-toggleable-md" id="navigation">
{% if request.user.is_authenticated and request.user.is_staff %}
<span class="navbar-brand m-b-0">Hallo {% if request.user.first_name %}{{request.user.first_name}} {{request.user.last_name}}{% else %}{{request.user.username}}{% endif %}!</span>
{% endif %}
	<ul class="navbar-nav mr-auto">
		<li class="nav-item{% if current_page == 'dashboard'%} active{% endif %}">
			<a class="nav-link" href="{% url 'backend:dashboard' %}">Dashboard</a>
		</li>
		<li class="nav-item{% if current_page == 'tools'%} active{% endif %}">
			<a class="nav-link" href="{% url 'backend:tools' %}">Tools</a>
		</li>
		<li class="nav-item{% if current_page == 'history'%} active{% endif %}">
			<a class="nav-link" href="{% url 'backend:history' %}">(H) Anträge</a>
		</li>
		<li class="nav-item{% if current_page == 'accounthistory'%} active{% endif %}">
			<a class="nav-link" href="{% url 'backend:accounthistory' %}">(H) Accounts</a>
		</li>
{% if request.user.is_authenticated and request.user.is_staff %}<li class="nav-item{% if current_page == 'logoutpage'%} active{% endif %}">
			<a class="nav-link" href="{% url 'frontend:logout' %}">Logout</a>
		</li>
{% else %}
		<li class="nav-item{% if current_page == 'loginpage'%} active{% endif %}">
			<a class="nav-link" href="{% url 'backend:loginpage' %}">Login</a>
		</li>
{% endif %}
	</ul>
	
	<div class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="text" id="input_suche" placeholder="ID oder Name">
		<button class="btn  my-2 my-sm-0 btn-outline-success" id="btn_suche">Antrag suchen</button>
	</div>
</nav>

{% if breadcrumbs %}
<ol class="breadcrumb">
	{% for item in breadcrumbs %}
	<li class="breadcrumb-item {{item.class}}">{% if item.target %}<a href="{{item.target}}">{{item.label}}</a>{% else %}{{item.label}}{% endif %}</li>
	{% endfor %}
</ol>
{% endif %}

{% block content %}{% endblock %}

<div id="footer"><a href="{% url 'frontend:index' %}">Frontend</a> · <a href="{% url 'backend:adminhistory' %}">Administrationslog</a> · <a href="{% url 'frontend:datenschutz' %}">Datenschutz</a> · <a href="{% url 'frontend:impressum' %}">Impressum</a></div>
</div>
<script src="{% static 'frontend/jquery.min.js' %}"></script>
<script src="{% static 'frontend/tether.min.js' %}"></script>
<script src="{% static 'frontend/bootstrap.min.js' %}"></script>
<script type="text/javascript">
function suchen(){
	window.location.href="{% url 'backend:suche' %}"+$('#input_suche').val();
}

$(function(){
	$('#input_suche').keypress(function (e) {
		if (e.which == 13) {
			suchen();
			return false;
		}
	});
	$('#btn_suche').click(function(){
		suchen();
	});
});
</script>
</body>
</html>