{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Brief erstellen{% endblock %}

{% block content %}

<h2>Brief erstellen</h2>

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}

<p>Wir schreiben einen Brief ({{briefvorlage.name}}) für <a href="{% url 'antragbackend' antrag_id=antrag.id %}">Antrag {{antrag.grund.identifier}} {{antrag.id}}</a>.</p>

<div class="briefform">
<form method="POST">
{% csrf_token %}
<table class="table">
{{form}}
</table>
<input type="submit" value="Brief erstellen" class="btn btn-primary"/>
</form>
</div>



{% endblock %}