{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Dashboard{% endblock %}

{% block content %}


{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}


<div class="card">
	<div class="card-block">
		<h4 class="card-title">Bearbeitungsverlauf</h4>
		<p class="card-text">Die letzten ausgeführten Aktionen{% if antrag %} für <a href="{% url 'backend:antrag' antrag_id=antrag.id %}">Antrag {{antrag}}</a>{% endif %}, sortiert von neu nach alt.</p>
	</div>
	<div class="card-block">
	<table class="table">
	<thead>
		<tr>
			<th>Timestamp</th>
			<th>Person</th>
			<th>Typ</th>
			<th>Antrag</th>
			<th>Aktion</th>
		</tr>
	</thead>
	<tbody>
	{% for h in history %}
		<tr>
			<td>{{h.timestamp}}</td>
			<td>{{h.akteur}}</td>
			<td>{% if h.akteur.is_staff %}Staff{% endif %}</td>
			<td>{{h.antrag}}</td>
			<td>{% if h.ist_undo %}<span class="tag tag-default">RÜCKNAHME</span> {% endif %}{{h.uebergang.aktion}}</td>
			{% if antrag and not h.ist_undo %}
			<td><a href="{% url 'backend:undo' history_id=h.id %}">zurücknehmen</a></td>
			{% endif %}
			
		</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
</div>

{% endblock %}