{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Index{% endblock %}

{% block content %}

{% if message %}
{% if message == 'ungueltige_zugangsdaten' %}
<div class="alert alert-danger" role="alert">
  <strong>Herrje!</strong> Das hat nicht funktioniert. Hast du Login-Name und Passwort auch wirklich korrekt eingegeben?
</div>
{% endif %}
{% if message == 'zugang_deaktiviert' %}
<div class="alert alert-warning" role="alert">
  <strong>Hoppla!</strong> Dein Zugang wurde deaktiviert. Bitte wende dich an den Semesterticketausschuss.
</div>
{% endif %}
{% if message == 'passwort_erfolgreich_geaendert' %}
<div class="alert alert-success" role="alert">
  <strong>Dein Passwort wurde erfolgreich geändert.</strong> Bitte melde dich mit deinem neuen Passwort an.
</div>
{% endif %}
{% endif %}


<form class="form-signin" method="POST">
	{% csrf_token %}
	<h2 class="form-signin-heading">Bitte melde dich an, um fortzufahren</h2>
	<label for="inputUsername" class="sr-only">Login-Name</label>
	<input type="text" id="inputUsername" class="form-control" placeholder="Login-Name" name="username" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Passwort" name="passwort" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
	<small><a href="{%url 'resetpassword'%}">Ich weiß mein Passwort nicht mehr! Zu Hülf!</a></small>
</form>

{% endblock %}