{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Suche{% endblock %}

{% block content %}
{% load l10n %}

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}


<div class="card">
	<div class="card-block">
		<h4 class="card-title">Erstattungsrechner</h4>
		<p class="card-text">Der Erstattungsrechner berechnet Rückerstattungsbeträge für den sozialen Härtefall und für die anteilige Erstattung nach Nutzungstagen.</p>
	</div>
	<div class="card-block">
	
	<a class="btn btn-primary" href="{% url 'frontend:rechner' %}" target="_blank">Erstattungsrechner öffnen</a>
	</form>
	
	</div>
</div>

<div class="card">
	<div class="card-block">
		<h4 class="card-title">Passwort zurücksetzen</h4>
		<p class="card-text">Mit diesem Formular kann einer Matrikelnummer ein neues, zufällig erzeugtes Passwort zugewiesen werden.</p>
	</div>
	<div class="card-block">

	<form method="POST">
	{% csrf_token %}
	<table class="table">
	{{form}}
	</table>

	<input class="btn btn-primary" type="submit" value="Passwort zurücksetzen" />
	</form>
	
	</div>
</div>

{% endblock %}