{% extends 'backend/base.html' %}

{% block title%}Semesterticket-Rückerstattung - Antrag{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-6 offset-sm-3">
<h2>Überweisungsbetrag anpassen</h2>

{% for message in messages %}
<div class="alert {{message.klassen}}" role="alert">
  {{message.text|safe}}
</div>
{% endfor %}

<p>Hier kannst du den Überweisungsbetrag für <a href="{% url 'antragbackend' antrag_id=antrag.id %}">Antrag {{antrag}}</a> anpassen. Gib den gewünschten Betrag ein, und klicke dann auf »Überweisungsbetrag setzen«.</p>

<form method="POST">
{% csrf_token %}
<table class="table">
{{form}}
</table>
<input type="submit" value="Überweisungsbetrag setzen" class="btn btn-primary"/>
</form>

</div>
</div>



{% endblock %}